*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest/
/app/src/main/res/mipmap-xxhdpi/
/.idea/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/test/
/app/src/main/res/mipmap-mdpi/
/app/.gitignore
/.gradle/
